.iconretour {
    padding-right: 8px;
}

.boutonretour {
    margin-top: 50px;
}

.title {
    margin-left: 100px;
}

.iconmessage {
    color: mediumturquoise;
    padding-top: 5px;
    padding-bottom: 8px;
    font-size: 20px;
}

.message {
    color: mediumturquoise;
    max-width: 180px;
    text-align: center;
    cursor: pointer;
    background-color: white;
    border-color: mediumturquoise;
    border-radius: 50px;
    float: right;
    margin-right: 200px;
    margin-top: 80px;
    padding-left: 12px;
    padding-right: 12px;
    padding-top: 5px;
}