.contenu {
    margin-top: 50px;
}

.boutonRecherche {
    border-radius: 500px;
}

.iconsearch {
    padding-left: 20px;
}

.recherche {
    margin-bottom: 20px;
}

.liste {
    padding-top: 10px;
}

.card {
    margin-top: 30px;
}

.lien-voir {
    text-decoration: none;
}