.bouton {
    background-color: chocolate;
    color: white;
    max-width: 200px;
    margin-top: 10px;
    margin-bottom: 40px;
    margin-left: 130px;
}

.justify-content-center {
    margin-top: 120px;
    max-width: 1000px;
}

.card-title {
    margin-top: 20px;
    color: chocolate;
}

.card-body {
    margin-top: 20px;
}

input {
    text-align: center;
}