.page {
    background-color: whitesmoke;
}

.contenu {
    max-width: 600px;
    margin-top: 150px;
}

.contenuinscrit {
    max-width: 400px;
    height: 500px;
    margin-top: 150px;
}

.bouton {
    margin-top: 40px;
}

.boutoninscrit {
    margin-top: 60px;
}

.title {
    font-size: 28px;
    color: cornflowerblue;
}

.ionlist {
    padding-top: 40px;
}

.ionlabel {
    font-size: 16px;
}

.insription {
    margin-top: 8px;
}

.identifiant {
    padding-top: 10px;
    padding-bottom: 10px;
    max-width: 300px;
}

.mdp {
    padding-top: 20px;
    max-width: 300px;
}