.ionitem {
    cursor: pointer;
    text-align: center;
    color: chocolate;
}

.iontitle {
    text-align: center;
    color: chocolate;
}

.icon {
    font-size: 20px;
    color: chocolate;
    padding-right: 13px;
}